/**
 * TIPOGRAFIA
 *
 * Variaveis simplificadas de tipografia para usar com Bootstrap.
 */

// Font-family
$fonte-principal: "Lucida Console", "Courier New", monospace;

// Font-weight
$peso-fonte: 400;

// Cor da fonte
$cor-fonte: #1f2937;